*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}

.main-container{
  height: 90vh;
  margin: 0px 20rem;
}

/* Nav Bar */
nav{
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  font-size: 1.5em;
  text-transform: uppercase;
}

#logo{
  list-style: none;
  text-decoration: none;
  color: black;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 45%;
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  text-transform: uppercase;
  transition: .3s;
  padding-bottom: 10px;
}

.nav-links a:hover{
  border-bottom: 5px solid black;
}

#skinGreen:hover{
  border-bottom: 5px solid #9BA17B;
}

#hairPink:hover{
  border-bottom: 5px solid #F7CAC9;
}

#fragranceYellow:hover{
  border-bottom: 5px solid #EFC050;
}

#accessoriesBlue:hover{
  border-bottom: 5px solid #AEB6CF;
}

/* Active Classes */
#activeSkin{
  border-bottom: 5px solid #9BA17B;
}

#activeAccessories{
  border-bottom: 5px solid #AEB6CF;
}

#activeHair{
  border-bottom: 5px solid #F7CAC9;
}

#activeFragrance{
  border-bottom: 5px solid #EFC050;
}

/* Nav Icons */
.icons{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 7%;
}

.icons i{
  color: black;
  font-size: 1.5em;
}

hr{
  margin: .5em 0px;
}

/* Page Description */
.pageSpan{
  color: gray;
}

.page-description{
  font-size: 1.5em;
  font-weight: bold;
  margin: 2rem 0px;
}

/* Banners */
#skincareBanner{
  height: 60vh;
  background: url(/img/skinBanner.jpg) no-repeat center center;
}

#hairBanner{
  height: 60vh;
  background: url(/img/hairBanner.jpg) no-repeat center center;
}

#fragranceBanner{
  height: 60vh;
  background: url(/img/fragranceBanner.jpg) no-repeat center center;
}

#accessorieseBanner{
  height: 60vh;
  background: url(/img/accessoryBanner.jpg) no-repeat center center;
}

.featuredProduct{
  margin: 1em 0px;
}

/* Product Container */
.allProducts-container,
.allProducts2-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3em 0px;
}

.product{
  height: 400px;
  width: 450px;
  transition: .3s;
}

.product:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.product-desc{
  text-align: center;
  margin: 1rem 0px;
}

.productTitle{
  font-style: italic;
  font-size: 1.8em;
  font-weight: bold;
}

.productPrice{
  font-size: 1.5em;
  padding-top: 15px;
}

/* Media Queries */

/*Small devices (phones) */
@media screen (max-width: 375px) {

};

/*Medium devices (tablets) */
@media screen (max-width: 768px) {
};

/*Large devices (laptops, 1024px and up) */
@media screen (max-width: 1024px) {
};


/*Extra Large devices (Large Laptops, 1440px and up) */
@media screen (max-width: 1440px) {
};
